extends layout

block content
    h1(class="message-input-head")= "Enter Your Message"

    form(
        method="POST"
        action="/new"
    )
        label= "Username:"
        input(class="name-input" name="name")
        label="Message:"
        input(class='message-input' name="msg")
        button(class='submit-button')= "Submit"