extends layout

block content
    main
        
        form(method="POST" action="/new")
            h2(class="message-input-head")= "Enter Your Message"
            div(class="username-container")
                label= "Username:  "
                input(class="name-input" name="name")

            div(class="message-input-container")
                label="Message:  "
                input(class='message-input' name="msg")

            button(class='submit-button')= "Submit"
        div(class="link-container")
            a(href='/' class='new-message-link')= "Return Home"
