extends layout

block content
  h1(class='title')= title
  p(class='welcome-message') Welcome to #{title}

  each message in messages
    div(class='text')= message.text
    div(class='user')= message.user
    div(class='date-added')= message.added
  
