doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1(class='title')= title
      p(class='welcome-message') Welcome to #{title}

    block content
    
    footer
      p(class="attribution")= "Created by David Stockdale"
      div(class="social-links")
        a(href='https://github.com/dstock3/msg-board' class="github" target="_blank" rel="noopener noreferrer")= "Github"
        a(href='https://dstock.biz/' class="portfolio" target="_blank" rel="noopener noreferrer")= "Portfolio"
